<!DOCTYPE html>
<html>
  <head>
    <title>Your Photographer</title>
    <%= analytics_init if Rails.env.production? %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>



    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Your Photographer", 'root', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if (!user_signed_in?) %>
              <li><a href="#">利用の流れ</a></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
              <li><%= link_to "アカウントの作成", new_user_registration_path %></li>
            <% else %>
            <% if current_user.provider %>
              <%= image_tag current_user.image, class:"img-circle" %>
              <% else %>
              <%= current_user.email %>
            <% end %>
　            <li><%= link_to "カメラマンになる", listings_new_path %></li>
              <li><%= link_to "プロフィールページ", user_path(current_user) %></li>
              <li><%= link_to "プロフィール編集", edit_user_registration_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <% end %>
        </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </body>
</html>
